Package: dwlab-basicservices
Version: 0.6.1
Section: dwlab
Priority: important
Depends: python3, python3-pip, dwlabbasicpy
Architecture: all
Essential: no
Maintainer: DW-Lab GmbH <monitoring@dw-lab.com>
Description: DW-Lab Basic Services
 These services build the foundation for all packages provided by the DW-Lab GmbH.
